body, html {
  margin: 0;
  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-bkgd {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-image: url(aa.jpg);
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root {
  height:100%;
}

.white-text {
  color:white;
  margin: 0;
  display:flex;
}

.p1_2, .p1_2_1 {
  font-size: 8vw;
  margin: -2vw 0;
}

.p1_1 {
  font-size:2vw;
}
.p1_3 {
  font-size:3vw;
}

.center-texts  {
  width:50%;
  text-align:center;
  margin: 0 auto;
  display:flex;
  align-items:center;
  flex-direction: column;
}

.p3_bkgd {
  height:150vh;
}

pre,p,h1 {
  margin:0;
}

.p4_bkgd {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-image: url(aa.jpg);
  height:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p5_bkgd {
  @extend .full-bkgd;
  background-image: url();
  background-color:#f7f7f7;
}

.faq_bkgd {
  @extend .p5_bkgd;
    background-color:white;
}