$phone-width:25rem;

body, html {
  margin: 0;
  height:100%;
  font-family: NotoSansCJKkr;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.test-bkgd {
  z-index:-1;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  -webkit-transition:opacity 2s -webkit-transform 2s;
  transition:width 2s, height 2s, background-color 2s, transform 2s, top 2s;

}
@keyframes fade {
  0%,100% { opacity: 0}
  50% { opacity: 1 }
}

.ani {
  animation: fade 3s infinite;

}
.pic1 {
  background-image: url('images/img_01.jpg');
  animation: fade 3s infinite;
  background-color:black;
}

.pic2 {
  background-image: url('images/img_02.jpg');
  animation: fade 3s infinite;
  background-color:black;

}

.pic3 {
  background-image: url('images/img_03.jpg');
  animation: fade 3s infinite;
  background-color:black;
}

.tmptmp {
  -webkit-transition:opacity 2s -webkit-transform 2s;
  transition:width 2s, height 2s, background-color 2s, transform 2s, top 2s;
}

.testtest {
  height:100vh;
}

.Q{
  font-weight: 900;
}
.full-bkgd {
  z-index:-1;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-image: url('images/aa.jpg');
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root {
  height:100%;
}

.white-text {
  color:white;

}

.p1_2, .p1_2_1 {
  font-size: 4rem;
  //margin: -1vw 0;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  font-weight: 900;
  line-height: 0.98;
  letter-spacing: -4px;
  z-index:100;
}



.p1_1 {
  font-size:1rem;
  z-index:100;
}
.p1_3 {
  font-size:1.2rem;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  font-weight: 900;
  z-index:100;
}

.center-texts  {
  width:90%;
  text-align:center;
  margin: 0 auto;
  display:flex;
  align-items:center;
  flex-direction: column;
}

.p2-bkgd {
  background-image: url('images/img_04.jpg');
  h1 {
    font-size: 2rem;
  }
  p {
    font-size:1rem;
    font-weight:500;
    opacity: 0.7;
    line-height: 1.55;
  }
}

.p3_bkgd {
  height:150vh;
  margin-top: ($phone-width)/4;
  h1 {
    font-size:1.8rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1rem;
    opacity: 0.6;
    font-weight: 500;
  }
}

pre,p,h1 {
  margin:0;
}

.p4_bkgd {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-image: url('images/img_05.jpg');
  height:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h1 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1rem;
    opacity:0.6;
    font-weight: 500;
  }
  .p4-flow-box {
    display: flex;
    border: solid 1px white;
    width:45rem;
    height:10rem;
    justify-content: space-around;
    position:relative;
    padding:1rem;
    margin:1rem;
  }

  .for-b {
    height: 10rem;
  }
  .p4-on-flow-box {
    
  }

  .p4-flow-circles {
    background-color: rgba(255, 255, 255, 0.2);
    width:10rem;
    height:10rem;
    border-radius: 100%;
    border: solid 1px white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      margin-top:0.5rem;
      font-size:0.7rem;
      color:white;
      opacity: 1;
    }
  }
  .p4-flow-icons {
    width:6rem;
  }
}

.p5_bkgd {
  @extend .full-bkgd;
  background-image: url();
  background-color:#f7f7f7;
}



.white_bkgd {
  @extend .p5_bkgd;
    background-color:white;
    height:150%;
}

.footer {
  background-position:center;
  height:20%;
  display:flex;
  background-color: #262626;
  justify-content: space-around;
  padding-left:5%;
}


.footer-left-texts {
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:50px 0; 
  min-height: 0;
  opacity: 0.7;
}
.hchecker-com {
  opacity: 0.3;
}

.footer-left-texts * {
  display: flex;
  margin:0;
}

.footer-images {
  margin:auto 0;
}

.footer-images img {
  width:10vw;
}

.white_bkgd hr {
  border: solid 1px black;
  width:70vw;
}

.faq-item-box + .faq-item-box {
  border-top: 0.5px solid black !important;
}
.faq-item-box {
  width:70vw;
.my-collapsible__toggle {
  background-color: transparent;
}

}
.faq-item-box button {
  height:3vh;
  border:0;
  background-color:white;
  font-size:1rem;
}

.lot-box {
  width:30rem;
  width:30rem;
}
.lot {
  margin-top:5rem;
  width:30rem;
  position:relative;
}
.lot-texts {
  position: absolute;
  left:50%;
  padding-bottom:15rem;
  transform: translate(-50%, -50%);
  color:white;
}

.faq-rotate-btn {
  //transform: rotate(-45deg);
  margin:1rem;
  width:1rem;
}
.question-and-button {
  display: flex;
  justify-content: space-between;
}
.question-text {
  margin:1rem 0;
}
.answer {
  margin:3vh 0;
  
}
.my-collapsible__content {
  overflow: hidden;
}
.navi {
  width:100vw;
  position:fixed;
  display: flex;
  justify-content: center;
  z-index:100;
  
}
.for-btm-line {
  width:80%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.5px white;
  padding: 1.5vh 0;
}


.before-height {
  background-color:transparent;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, transform 0.5s;
}

.after-height {
  background-color:white;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, transform 0.5s;
}

.before-height .lan-btns .lan-btn{
  color:white;
  opacity:0.5;
}
.before-height .lan-btns .lan-btn.la-active {
  opacity: 1;
}


.after-height .lan-btns .lan-btn{
  opacity:0.5;
}
.after-height .lan-btns .lan-btn.la-active {
  opacity: 1;
}

.navi button {
  border:0;
  background-color:transparent;
  font-size:1rem;
}

.navi button:hover {
  text-decoration: underline;
}
.lan-btns{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.korean, .english {

}

.date-flow {
  display:flex;
}
.dates, .date-contents {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh;
  font-size:1rem;
  font-weight: 600;
}

.dates {
  color:#0037a6;
}
.date-flow-text, .date-contents-text {
  height:30px;
  line-height: 1;
}

.flow-pic hr {
  margin-top:5vh;
  width: 1px;
  height: 150px;
  display: inline-block;
}

.p5-texts {
  text-align:center;
  h1 {
    font-family: NotoSansCJKkr;
    font-size: 2rem;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2px;
    margin-bottom: 1rem;
  }
  p{
    opacity: 0.7;
    font-size:1rem;
  }
}



.labels-box {
  min-width: 100%;
  display: flex;
  z-index:-1;
  overflow-x: auto;
  
  //overflow-y: scroll;
  //transform: rotate(-90deg);
}
//.labels-box::-webkit-scrollbar {
//  display: none;
//}




.p4-out{
  border-radius: 100%;
  overflow: hidden;
  margin-top:10vh;
  background-color: black;
  width:80vh;
  height: 80vh;
  h1, p {
    color:white;
  }
  p {
    font-size: 1rem;
  }
}

.labels-texts {
  padding-top:2rem;
}

.labels {
  height:20vh;
  margin-top:8rem;
  margin-left:5vh;
  //transform: rotate(90deg);
}

.phone-img {
  position: absolute;
  top:180vh;
  width: $phone-width;
 
}

.po2 {
  top: 180vh;
  opacity: 1;
  -webkit-transition:opacity 2s, width 2s, height 2s, background-color 2s, top 2s, -webkit-transform 2s;
  transition:opacity 2s, width 2s, height 2s, background-color 2s, transform 2s, top 2s;
}
.po1 {
  top:190vh;
  opacity:0.3;
  -webkit-transition:opacity 2s, top 2s,width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition:opacity 2s, top 2s,width 2s, height 2s, background-color 2s, transform 2s;
}


.faq-texts {
  h1 {
    font-size:2rem;
    font-weight: 900;
    letter-spacing: -1.8px;
    margin-bottom: 1rem;
  }
  text-align: center;

  p {
    opacity: 0.7;
    font-size:1rem;
    line-height: 1.5;
  }
}

.footer-images {
  img {
    width:50%;
    
  }
  .footer-hyundai-img {
    width: 30%;
    margin-left:5%;
  }
}

.Faq-box {
  border-top:solid 1.5px black;
  
  border-bottom:solid 1.5px black;
}