@import '~include-media/dist/include-media';


$breakpoints: (
  small: 376px, 
  medium: 768px, 
  large: 1024px, 
  huge: 1200px
);

$small:2.2rem;
$medium:2.4rem;
$large:4rem;
$huge:5.5rem;

$wid :100vmin;
$hgt :100vmax;
$phone-width:$wid/3;
$lot-width: 80vmin;
@media only screen and (max-width: 600px) {
  $phone-width:25vmin;
}

@media (min-width: 1025px) {
  .x100 {
    font-size: $huge;
    font-size: 100px;
  }
  .x45 {
    font-size: $huge/1.7;
    font-size: 45px;
  }
  .x40 {
    font-size: $huge/1.8;
    font-size: 40px;
  }
  .x28 {
    font-size: $huge/2.42;
    font-size: 28px;
  }
  .x25 {
    font-size: $huge/2.83;
    font-size: 25px;
  }
  .x24 {
    font-size: $huge/2.42;
    font-size: 24px;
  }
  .x22 {
    font-size: $huge/2.83;
    font-size: 22px;
  }
  .x20 {
    font-size: $huge/2.83;
    font-size: 20px;
  }
  .question-text {
    .x18 {
      font-size: $huge/2.26;
      font-size: 18px;
    }
  }
  .answer-text {
    .x18 {
      font-size: $huge/2.42;
      font-size: 18px;
    }
  }
  .x16 {
    font-size:16px;
  }
  .x14{
    font-size: 14px;
  }
  .x12 {
    font-size: $huge/2.83;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .x100 {
    font-size: $large;
  }
  .x45 {
    font-size: $large/1.7;
  }
  .x40 {
    font-size: $large/1.8;
  }
  .x28 {
    font-size: $large/2.42;
  }
  .x25 {
    font-size: $large/2.83;
  }
  .x24 {
    font-size: $large/2.42;
  }
  .x22 {
    font-size: $large/2.83;
  }
  .x20 {
    font-size: $large/2.83;
  }
  .question-text {
    .x18 {
      font-size: $large/2.26;
    }
  }
  .answer-text {
    .x18 {
      font-size: $large/2.42;
    }
  }
  .x16 {
    font-size:1$large/2.42;
  }
  .x14{
    font-size: 12px;
  }
  .x12 {
    font-size: $large/2.83;
  }
}



@media (max-width: 768px) {
  .x100 {
    font-size: $medium;
  }
  .x45 {
    font-size: $medium/1.7;
  }
  .x40 {
    font-size: $medium/1.8;
  }
  .x28 {
    font-size: $medium/2.42;
  }
  .x25 {
    font-size: $medium/2.83;
  }
  .x24 {
    font-size: $medium/2.42;
  }
  .x22 {
    font-size: $medium/2.83;
  }
  .x20 {
    font-size: $medium/2.83;
  }
  .question-text {
    .x18 {
      font-size: $medium/2.26;
    }
  }
  .answer-text {
    .x18 {
      font-size: $medium/2.42;
    }
  }
  .x16 {
    font-size: $medium/2.42;
  }
  .x14{
    font-size: 12px;
  }
  .x12 {
    font-size: $medium/2.83;
  }
}

@media (max-width: 376px) {
  .x100 {
    font-size: $small
  }
  .x45 {
    font-size: $small/1.7;
  }
  .x40 {
    font-size: $small/1.8;
  }
  .x28 {
    font-size: $small/2.42;
  }
  .x25 {
    font-size: $small/2.83;
  }
  .x24 {
    font-size: $small/2.42;
  }
  .x22 {
    font-size: $small/2.83;
  }
  .x20 {
    font-size: $small/2.83;
  }
  .question-text {
    .x18 {
      font-size: $small/2.26;
    }
  }
  .answer-text {
    .x18 {
      font-size: $small/2.42;
    }
  }
  .x16 {
    font-size: $small/2.42;
  }
  .x14{
    font-size: 12px;
  }
  .x12 {
    font-size: $small/2.83;
  }
}

$phone-height: $phone-width*1.7;

@font-face {
  font-family: NotoSansCJKkr;
  src: url("fonts/NotoSansKR-Medium.woff2") format("woff2"),
  url("fonts/NotoSansKR-Medium.woff") format("woff"),
  url("fonts/NotoSansKR-Medium.otf") format("truetype");
}


body, html {
  margin: 0;
  height:100%;
  font-family: NotoSansCJKkr;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.test-transition {
  background: #000;
}

.root-back-and-front {
  width:100%;
  margin:0 auto;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-color: black;
}
#root .front {
  @extend .root-back-and-front;
  z-index: 2;
  opacity: 0.2;
}

#root .back {
  @extend .root-back-and-front;
  z-index: 1;
  opacity: 1;
}





.first-texts {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#root [class^="pic"] .front,
#root [class*=" pic"] .front {
  -webkit-animation: in 3s 0s;
          animation: in 3s 0s;
}
#root .pic1 .front,
#root .pic2 .back {
  background-image: url('images/img_01.jpg');
  p#p1_p_1:after {
    content: "보안 혁신에 도전하는 보안라벨11";
  }
  p#p1_p_en_1:after {
    content: "Challenging Data security innovation22";
  }
}
#root .pic1.init .back {
  background-image: none;
}
#root .pic2 .front,
#root .pic3 .back {
  background-image: url('images/img_02.jpg');
  p#p1_p_2:after {
    content: "세상에서 가장 안전하고 간편한 보안라벨33";
  }
  p#p1_p_en_2:after {
    content: "The safest and the most simple44";
  }
}
#root .pic3 .front,
#root .pic1 .back {
  background-image: url('images/img_03.jpg');
  p#p1_p_3:after {
    content: "믿을 수 있는 정품시장을 만들어주는 보안라벨55";
  }
  p#p1_p_en_3:after {
    content: "Reliable Genuine Market66";
  }
  
}

@media only screen and (max-width: 600px) {
  #root .pic1 .front,
  #root .pic2 .back {
    background-image: url('images/m_img_01.jpg');
  }
  #root .pic1.init .back {
    background-image: none;
  }
  #root .pic2 .front,
  #root .pic3 .back {
    background-image: url('images/m_img_02.jpg');
  }
  #root .pic3 .front,
  #root .pic1 .back {
    background-image: url('images/m_img_03.jpg');
  }
  .first-texts {
    width:99vw;
  }
}

@-webkit-keyframes in {
  from {
    opacity: 0.2;
    background-color: black;
  }
  to {
    opacity: 1;

    background-color: black;
  }
}

@keyframes in {
  from {
    opacity: 0.2;
    background-color: black;
  }
  to {
    opacity: 1;
    background-color: black;
  }
}


.testtest {
  height:100vh;
}

.Q{
  font-weight: 900;
}


  .full-bkgd {
    z-index:-1;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    min-height:100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
}

@media only screen and (max-width: 600px) {
  .full-bkgd {
    min-width:100vmin;
  }
}


div#root {
  height:100%;
}

.white-text {
  color:white;
}


.p1_2, .p1_2_1 {
  //margin: -1vw 0;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  font-weight: 900;
  line-height: 0.98;
  z-index:100;
}


@media only screen and (max-width: 600px) {
  .p1_2, .p1_2_1 {
  }
}


.p1_1 {
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  z-index:100;
}
.p1_3 {
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  font-weight: 900;
  z-index:100;
}

.center-texts  {
  width:90%;
  text-align:center;
  margin: 0 auto;
  display:flex;
  align-items:center;
  flex-direction: column;
}

.p2-bkgd {
  background-image: url('images/img_04.jpg');
  height:100vh;
  p {
    opacity: 0.7;
    line-height: 1.55;
    white-space: pre;
  }
}

.lock-icon {
}

.p3-bkgd {
  height:auto;
  h1 {
    margin-bottom: 1rem;
  }
  p {
    opacity: 0.6;
    font-weight:500;
  }
}
@media only screen and (max-width: 600px) {
  .p3-bkgd {
    margin-bottom: $lot-width/2;
  }
  
.lock-icon {
  margin-bottom: $lot-width/10;
}

}

//2페이지 글씨너무떨어짐, use friendly 밑에. 
//lot 페이지 lot위에 글씨 줄바꿈 관리
//줄바꿈
//영문 끊기



pre,p,h1 {
  margin:0;
}
.p2_1 {
  font-family: NotoSansCJKkr;
}
.p2_2_1_kr, .p2_2_1_en {
  white-space: pre;
  width:auto;
}
@media only screen and (max-width: 600px) {
  .p2-bkgd {
      background-image: url('images/m_img_04.jpg');
      height:100vh;
      padding-bottom: 10vh;
      .p2_1 {
        white-space: pre;
      }
      p.p2_2_1_kr, p, .p2_2_1_en {
        white-space: pre;
      }
      p.p2_2_2_kr, p, .p2_2_2_en {
        white-space: normal;
      }
    }
  


  .p2-texts {
    width: 90vw;
    
  }
}
.p4-bkgd {
  background-image: url('images/img_05.jpg');
  height:auto;
  h1 {
  }
  p {
    opacity:0.6;
    
    white-space:pre;
  }
  .p4-flow-box {
    display: flex;
    border: solid 1px white;
    width:auto;
    height:auto;
    justify-content: center;
    align-items:center;
    position:relative;
    padding:1rem;
    margin:1rem;
  }
  .p4-arrow {
    color:white;

    height:1rem;
    width: 1rem;
    margin:$lot-width/30;
  }
  .p4-flow-icons {
    width: 7vw;
  }
}
.p4-flow-circles {
  background-color: rgba(255, 255, 255, 0.2);
  width:15vw;
  height:15vw;
  border-radius: 100%;
  border: solid 1px white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre;
  
  p {
    color:white;
    opacity: 1;
    font-family: NotoSansCJKkr;
  }
}
@media only screen and (max-width: 600px) {
  .p4-bkgd {
    background-image: url('images/m_img_05.jpg');
    p {

      white-space:normal;
    }
  }
  .p4-flow-box {
    flex-direction: column;
  }

  .p4-arrow {
    justify-content: center;
    align-items:center;
    transform: rotate(90deg);
  }

  .p4-flow-circles {
    width:190px;
    height:190px;
    p {
      white-space: pre;
      margin-bottom: 4vw;
    }
    .p4-flow-icons {
      width:$lot-width/3.8;
    }
  }
}
.p4-inner {
  padding:15vh 0;
}



.p5-bkgd {
  height: auto;
  background-color:#f7f7f7;
  padding: $lot-width/10 0;
}
@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 1050px) {

}


.white-bkgd {
  height:200vh;
  background-color:white;

}

.footer {

  background-size: cover;
  height:20%;
  display:flex;
  background-color: #262626;
  justify-content: space-around;
  padding: 0 $lot-width/40;
}




.footer-left-texts {
  color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:50px 0; 
  min-height: 0;
  opacity: 0.7;

}

@media only screen and (max-width: 600px) {
  .footer {
    padding: $lot-width/20;
    padding-bottom: $lot-width/4;
    flex-direction: column;
    height:40vh;
    h5 {
      margin:0.5rem;
    }
    img.footer-checker-img {
      width:$lot-width/1.9;

    }
    img.footer-hyundai-img {
      width: $lot-width/2.4;
    }

    .footer-left-texts {

    }

  }
}

.hchecker-com {
  opacity: 0.3;
}

.footer-left-texts * {
  display: flex;
  margin:0;
}

.footer-images {
  margin:auto 0;
}

.footer-images img {
  width:10vw;
}

.white_bkgd hr {
  border: solid 1px black;
  width:70vw;
}

.faq-item-box + .faq-item-box {
  border-top: 0.5px solid black !important;
}
.faq-item-box {
  width:70vw;
  .my-collapsible__toggle {
    background-color: transparent;
  }
}

.p6-bkgd {
  height:auto;
  margin:5vh 0;
}


@media only screen and (max-width: 600px) {
  .faq-item-box {
    width:90vmin;
    padding: 2rem 0;
  }
  .p6-bkgd {
    //height:190vh;
    margin: 10vh 0;
  }
}

@media only screen and (min-width:601px) and (max-width: 1050px) {
  .faq-item-box {
    width:70vmin;
    padding: 2rem 0;
  }
  .p6-bkgd {
    //height:140vh;
    margin: 10vh 0;
  }
}




.faq-item-box button {
  height:$lot-width/10;
  border:0;
  background-color:white;

}

.lot-box {
  height:auto;
}



@media only screen and (max-width: 600px) {
  
}
.lot {
  left:0;
  margin-top: $lot-width/2;
  width: $lot-width;
  
}
.lot-texts {
  position: relative;
  left:50%;
  padding-bottom: $lot-width/2;
  transform: translate(-50%, -50%);
  color:white;
  h1 {

  }
  p {

    width: $lot-width*0.75;
    white-space: pre;
    margin: 0 auto;
  }
}

.p3-texts {
  margin-top: $phone-height/1.7;
}

@media only screen and (max-width: 600px) {
  .lot-texts {
    padding-top:$lot-width;
    color:black;
    p {
      width:90vw;
      white-space: pre;
    }
  }
  .lot-box {
    height:$lot-width*2;
  }
  .p3-texts-p-en {
    width: $lot-width;
  }
  .p3-texts {
    p {
      white-space: pre;
    }
  }
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
  .p3-texts {
    margin-top: $phone-height*1.7;
  }

  .p3-texts-p {
    width:93vw;
  }
}


@media only screen and (min-width:601px) and (max-width: 3000px) {
  .p3-texts-p {
    width:70vw;
    margin: 0 auto;
    white-space: pre;

  }
  .p3-texts-p-en {
    white-space: pre;
  }
}
.faq-rotate-btn {
  //transform: rotate(-45deg);
  margin:$lot-width/22 0;
  width:$lot-width/21;
}
.question-and-button {
  display: flex;
  justify-content: space-between;
}
.question-text {
  margin:$lot-width/22 0;

}
.answer {
  margin-top:1vh;
  margin-bottom:2vh;
}


@media only screen and (max-width: 600px) {
  .answer {
    margin:0;
  }
  .question-text {
    margin:$lot-width/22 0;

  }
}
.my-collapsible__content {
  overflow: hidden;
}
.navi {
  width:100vw;
  position:fixed;
  display: flex;
  justify-content: center;
  z-index:100;
  
}
.for-btm-line {
  width:80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px white;
  padding: 1.5vh 0;
}

.before-height {
  background-color:transparent;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, transform 0.5s;
}

.after-height {
  background-color:white;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, transform 0.5s;
}

.before-height .lan-btns .lan-btn{
  color:white;
  opacity:0.5;
}
.before-height .lan-btns .lan-btn.la-active {
  opacity: 1;
}


.after-height .lan-btns .lan-btn{
  opacity:0.5;
}
.after-height .lan-btns .lan-btn.la-active {
  opacity: 1;
}

.navi button {
  border:0;
  background-color:transparent;

  font-family: NotoSansCJKkr;
}

@media only screen and (max-width: 800px) {
  .navi button {

  }
}
@media only screen and (max-width: 500px) {
  .navi-logo {
    width:50%;
  }
}


.navi button:hover {
  text-decoration: underline;
}
.lan-btns{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 400px) {

  .lan-btn {
    padding:0 1.5vw;
  }
}

.korean, .english {

}
.dates-both {
  display:flex;
  height:auto;
  width:auto;
  margin: $lot-width/20 0;
}
.date-flow {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin: $lot-width/10 auto;
  font-weight: 600;
}

.date-flow-text {
  color:#0037a6;
  width:$lot-width/3;
  text-align: left;
  height:auto;
  margin:0;
}
.date-flow-text, .date-contents-text {
  height: auto;

  margin:0;
}

.date-contents-text {
  width: 50vmax;
  word-break: break-all;
  
}

@media only screen and (max-width: 600px) {
  .dates-both {
    flex-direction: column;
  }
  .date-flow-text {
    margin:0;
    height:1rem;
  }
  .date-contents-text {
   margin:1rem; 
  }
}

@media only screen and (max-width: 1050px) {
  .dates-both {
    flex-direction: column;
 
  }
  .date-flow-text {
    margin:0;

  }
  .date-contents-text {
   margin:1rem; 
   width: $lot-width/1.2;
  }
}



.flow-pic hr {
  margin-top:5vh;
  width: 1px;
  height: 150px;
  display: inline-block;
}
@media only screen and (min-width: 1440px) {
  .p5-texts-p {
    white-space: pre;

    p {
      white-space: pre;
    }
  }
}
.p5-texts {
  text-align:center;
  h1 {
    font-family: NotoSansCJKkr;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2px;
    margin-bottom: 1rem;
  }
  p{
    opacity: 0.7;
    white-space: pre;
  }
}


.p5-texts-p {
  width:90vw;
  margin:$lot-width/20 auto;

}


@media only screen and (max-width: 600px) {
  .p5-texts-h1 {
    width:$lot-width/2;
  }
  .p5-texts {
    p {
      white-space: normal;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .p5-texts-p {
    width:$lot-width;
    white-space: normal;
  }
  .p5-texts-h1 {
    width:$lot-width;
  }
  .p5-texts {
    p {
      white-space: normal;
    }
  }
}

.labels-box {
  min-width: 100%;
  display: flex;
  z-index:-1;
  overflow-x: auto;
  
  //overflow-y: scroll;
  //transform: rotate(-90deg);
}
//.labels-box::-webkit-scrollbar {
//  display: none;
//}




.p4-out{
  border-radius: 100%;
  overflow: hidden;
  margin-top:10vh;
  background-color: black;
  width:80vh;
  height: 80vh;
  h1, p {
    color:white;
  }
}


.labels-texts {
  padding-top:2rem;
}


.labels {
  height:20vh;
  margin-top:8rem;
  margin-left:5vh;
  //transform: rotate(90deg);
}

.phone-img {
  position: absolute;
  width: $phone-width;
  height: $phone-height;
}


@media only screen and (max-width: 600px) {
  .p4-out {
    width:50vw;
    height:50vw;
  }
  .phone-img {
    width: $phone-width*1.5;
    height: $phone-height*1.2;
  }
}




.po2 {
  top: 170vh;
  opacity: 1;
  -webkit-transition:opacity 2s, width 2s, height 2s, background-color 2s, top 2s, -webkit-transform 2s;
  transition:opacity 2s, width 2s, height 2s, background-color 2s, transform 2s, top 2s;
}
.po1 {
  top:180vh;
  opacity:0.3;
  -webkit-transition:opacity 2s, top 2s,width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition:opacity 2s, top 2s,width 2s, height 2s, background-color 2s, transform 2s;
}


@media only screen and (max-width: 800px) {
  .phone-img {
    width: $phone-width*2.2;
    height: $phone-height*2.2;
  }
  .po2 {
    top:195vh;
  }
  .po1 {
    top:205vh;
  }

}
@media only screen and (min-width: 601px) {
  .phone-img {
    width: $phone-width*1.5;
    height: $phone-height*1.5;
  }
  .po2 {
    top:175vh;
  }
  .po1 {
    top:180vh;
  }
  .p3-texts {
    margin-top:$phone-height;
  }

}

.dev-icon {
  margin-bottom:$lot-width/20;
  object-fit: contain;
  width:$lot-width/7;
}
.faq-texts {
  h1 {
    font-weight: 900;
    letter-spacing: -1.8px;
    margin-bottom: 1rem;
  }
  text-align: center;

  p {
    opacity: 0.7;
    line-height: 1.5;
  }
}

.footer-images {
  img {
    width:50%;
    
  }
  .footer-hyundai-img {
    width: 30%;
    margin-left:5%;
  }
}

.Faq-box {
  border-top:solid 1.5px black;
  
  border-bottom:solid 1.5px black;
}